#!/usr/bin/env python
PACKAGE = "pure_pursuit" # 본인 ROS 패키지 이름으로 변경

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# add(이름, 타입, 플래그, 설명, 기본값, 최소값, 최대값)
gen.add("v",  double_t, 0, "Line velocity (m/s)",  0.5, 0.0, 2.0)
gen.add("Ld", double_t, 0, "Look-ahead distance", 1.0, 0.1, 3.0)

exit(gen.generate(PACKAGE, "pure_pursuit_node", "PurePursuit"))